<img class="wave" src="../../assets/undraw_playing_cards_cywn.svg">
<div class="container">
	<div class="img">
	</div>
	<div class="login-content">
		<form action="index.html">
			<img src="../../assets/undraw_ethereum_desire_wy1b.svg">
      <h2 class="title">Welcome</h2>
      <h3>Crypto-Casino</h3>
      <button type="button" mat-raised-button class="btn" (click)="loginMetaMask()">
        <mat-icon>power_settings_new</mat-icon>
        MetaMask Login
      </button>
    </form>
  </div>
</div>