<mat-toolbar>

  <mat-toolbar-row>
    <span>{{ title }}</span>

    <!-- This fills the remaining space of the current row -->
    <span class="set-space"></span>

    <div>
      <a mat-raised-button routerLink=''>Home</a>
      <a mat-raised-button routerLink='/howtoplay'>How to Play</a>
      <a mat-raised-button routerLink='/about'>About</a>
      <a mat-stroked-button routerLink='' (click)='logout()'>Logout</a>
    </div>
  </mat-toolbar-row>
  
</mat-toolbar>