.set-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
  }

  a {
     text-decoration: none;
     margin: 0.5vh;
  }

.navigation-items{
   list-style-type: none;
   padding: 0;
   margin: 0;
}

.container {
   width: 80%;
   margin: 0 auto;
   padding: 1.3em;
   display: grid;
   grid-template-columns: 30% auto;

   a {
       color: white;
   }
}