/* You can add global styles to this file, and also import other style files */
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body { 
    // font-family: Roboto, "Helvetica Neue", sans-serif;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
 }
